{% if user.is_authenticated %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large light-blue">
    <i class="large mdi-content-add"></i>
  </a>
  <ul>
    {% if user.is_superuser %}
    <li><a class="btn-floating red" href="{% url 'dashboard' %}"><i class="large mdi-editor-insert-chart"></i></a></li>
    {% endif %}
    <li>
      <a class="btn-floating yellow darken-1" href="{% url 'payments' %}"><i class="large mdi-action-list"></i></a>
    </li>
    <li><a class="btn-floating green" href="{% url 'payment' %}"><i class="large mdi-action-payment"></i></a></li>
  </ul>
</div>
{% endif %}
