{% load staticfiles %}
<nav class="light-blue lighten-1" role="navigation">
  <div class="container">
    <div class="nav-wrapper">
      <a id="logo-container" href="/" class="brand-logo">
        <img src="{% static 'img/django-payment.png' %}" alt="Logo">
      </a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="#"><i class="mdi-action-account-circle left"></i>User profile</a></li>
        <li><a href="{% url 'payments' %}"><i class="mdi-action-list left"></i>List transactions</a></li>
        <!-- <li><a href="#"><i class="mdi-action-credit-card left"></i>Credit Cards</a></li> -->
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"><i class="mdi-action-account-circle left"></i>Login</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% if user.is_authenticated %}
        <li><a href="#"><i class="mdi-action-account-circle left"></i>User profile</a></li>
        <li><a href="{% url 'payments' %}"><i class="mdi-action-list left"></i>List transactions</a></li>
        <!-- <li><a href="#"><i class="mdi-action-credit-card left"></i>Credit Cards</a></li> -->
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}"><i class="mdi-action-account-circle left"></i>Login</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </div>
</nav>
